*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Peyda-Regular";
  src: url("font/Peyda-Regular.ttf");
}
/*  --------------------------------- 1 --------------------------------- */
.main1 {
  /* height: 100vh; */
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  background: linear-gradient(135deg, #2e0023, #490050);
}

.container0 {
  position: relative;
}

.container0 .shape1 {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape1 {
  background: linear-gradient(#e5fc64, #ff5e00);
  left: -71px;
  top: 25px;
}

.container0 .shape2 {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 20%;
  transform: rotate(20deg);
}

.shape2 {
  background: linear-gradient(to right, #ff3c3c, #ff9100);
  right: -50px;
  bottom: -20px;
}

form {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.384);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  margin: 100px 0;
}

form * {
  font-family: "Peyda-Regular";
  color: #ffffff;
  outline: none;
  border: none;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

::-moz-placeholder {
  font-size: 10px;
  color: #e5e5e5;
}

::placeholder {
  font-size: 10px;
  color: #e5e5e5;
}

button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.add {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.add div {
  padding: 5px 10px 10px 5px;
  color: #eaf0fb;
}

.add a {
  text-decoration: none;
}

/*  --------------------------------- 2 --------------------------------- */
/* font */
.container1 div {
  font-family: "Peyda-Regular";
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container1 {
  /* margin: 10px; */
  padding: 10px;
  min-height: 150px;
  background-color: #a13647;
  /* Flexbox */
  display: flex;
  flex-flow: row wrap;
}

.container1 .item {
  background-color: #d84a43;
  color: #fff;
  margin: 10px;
  padding: 10px;
  min-height: 50px;
}

.item {
  flex: 1; /*flex-grow: 1;*/
}

.item.header {
  flex: 100%; /*flex-basis: 100%;*/
}

.item.aside {
  flex: 0 200px; /*flex-grow: 0; flex-basis: 200px;*/
  height: 150px;
}

.item.main {
  flex: 1 auto; /*flex-grow: 1; flex-basis: auto ;*/
}

.item.footer {
  flex: 100%;
}

@media screen and (max-width: 950px) {
  .item.header {
    order: 1;
  }
  .item.aside {
    flex: 1 auto;
  }
  .item.aside.aside1 {
    order: 3;
  }
  .item.aside.aside2 {
    order: 4;
  }
  .item.main {
    order: 2;
    flex: 1 100%;
  }
  .item.footer {
    order: 5;
  }
}
@media screen and (max-width: 600px) {
  .item.aside {
    flex: 100%; /* flex-basis: 100%; as min-width: 100%;*/
  }
}
/*  --------------------------------- 3 --------------------------------- */
.Parent {
  width: 500px;
  height: 500px;
  background-color: skyblue;
  position: relative;
}

.Child {
  width: 200px;
  height: 200px;
  background-color: #ff3c3c;
  position: absolute;
  right: 50px;
  top: 50px;
}

.box {
  right: 300px;
  width: 50px;
  height: 50px;
  background-color: #27eb00;
  position: absolute;
  right: 50px;
  top: 50px;
}
